# Dependencies
node_modules
.pnp
.pnp.js

# Build outputs
.next
out
build
dist

# TypeScript
*.tsbuildinfo
next-env.d.ts

# Misc
.DS_Store
*.pem

# Vercel
.vercel

# Testing
coverage

# Package manager
package-lock.json
yarn.lock
pnpm-lock.yaml
